<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="enable_gz_imu_plugin">
    <!-- Loading gz Plugin for IMU -->
    <gazebo>
      <plugin name="gz::sim::systems::Imu" filename="gz-sim-imu-system"/>
      <plugin name="gz::sim::systems::Magnetometer" filename="gz-sim-magnetometer-system">
        <use_units_gauss>false</use_units_gauss>
        <use_earth_frame_ned>false</use_earth_frame_ned>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
