<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="n100mini_gazebo" params="name update_rate">
    <gazebo reference="${name}_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo>
      <!-- TODO:Loading Gazebo Plugin for IMU -->
      <!-- TODO:Loading Gazebo Plugin for Magnetic Sensor -->
    </gazebo>
  </xacro:macro>
</robot>
