<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Fix: Need changes for Azure Kinect simulation -->
  <xacro:macro name="azure_gazebo" params="name">
    <gazebo reference="${name}_visor">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${name}_base">
      <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="${name}_depth_frame">
      <sensor type="depth" name="camera">
        <always_on>true</always_on>
        <update_rate>15.0</update_rate>
        <camera>
          <horizontal_fov>${75.0*pi/180.0}</horizontal_fov>
          <vertical_fov>${65.0*pi/180.0}</vertical_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>576</height>
          </image>
          <clip>
            <near>0.25</near>
            <far>3.0</far>
          </clip>
        </camera>
        <!-- TODO:Loading Gazebo Plugin for Depth Camera -->
      </sensor>
    </gazebo>
    <gazebo reference="${name}_rgb_frame">
      <sensor type="camera" name="camera">
        <always_on>true</always_on>
        <update_rate>15.0</update_rate>
        <camera>
          <horizontal_fov>${90.0*pi/180.0}</horizontal_fov>
          <vertical_fov>${74.3*pi/180.0}</vertical_fov>
          <image>
            <format>B8G8R8</format>
            <width>2048</width>
            <height>1536</height>
          </image>
          <clip>
            <near>0.01</near>
            <far>8.0</far>
          </clip>
        </camera>
        <!-- TODO:Loading Gazebo Plugin for RGB Camera -->
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
