<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_ros2_control_system">
    <ros2_control name="GazeboSystem" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
    </ros2_control>
  </xacro:macro>
  <xacro:macro name="kuroko_gazebo_ros2_control_plugin" params="controller_yaml:='' controller_manager_name:='controller_manager'">
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <xacro:if value="${controller_yaml != ''}">
          <parameters>${controller_yaml}</parameters>
        </xacro:if>
        <xacro:if value="${controller_manager_name != ''}">
          <controller_manager_name>${controller_manager_name}</controller_manager_name>
        </xacro:if>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
