<?xml version="1.0"?>
<robot name="kuroko" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="gz_sim" default="false"/>

  <!-- Which controller instance name you want to use (must match YAML) -->
  <xacro:arg name="controller" default="joint_trajectory_controller"/>

  <!-- Optional override; if empty, plugin macro may infer from YAML -->
  <xacro:arg name="command_interface" default="position"/>

  <!-- Single YAML file (absolute path recommended) -->
  <xacro:arg name="controller_yaml" default=""/>

  <!-- Print xacro-time debug messages -->
  <xacro:arg name="debug_control" default="false"/>

  <xacro:arg name="box_visual" default="false"/>

  <xacro:property name="XACRO_DIR" value="$(find kuroko_description)/xacro" />
  <xacro:property name="MESH_DIR" value="$(find kuroko_description)/meshes" />

  <xacro:include filename="${XACRO_DIR}/physics/materials.xacro"/>
  <xacro:include filename="${XACRO_DIR}/physics/box_physics.xacro"/>
  <xacro:include filename="${XACRO_DIR}/physics/gazebo_passive_joint.xacro"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/body.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/body.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/arm_r.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/arm_r.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/arm_l.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/arm_l.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/leg_r.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/leg_r.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/leg_l.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/leg_l.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/sensors/range/tfluna.xacro"/>
  <xacro:include filename="${XACRO_DIR}/sensors/imu/enable_gz_imu_plugin.xacro"/>
  <xacro:include filename="${XACRO_DIR}/sensors/imu/imu_n100mini.xacro"/>
  <xacro:include filename="${XACRO_DIR}/sensors/camera/enable_gz_rendering_plugin.xacro"/>
  <xacro:include filename="${XACRO_DIR}/sensors/camera/usb_camera.xacro"/>

  <!-- Gazebo Classic ros2_control helper -->
  <xacro:include filename="${XACRO_DIR}/gazebo/gazebo_ros2_control_plugin.xacro"/>

  <!-- Main robot model macro -->
  <xacro:macro name="kuroko_model" params="gazebo box_visual">

    <link name="body_link"/>
    <joint name="root_joint" type="fixed">
      <parent link="body_link"/>
      <child link="waist_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:body_xacro box_visual="${box_visual}"/>
    <xacro:body_gazebo/>

    <xacro:arm_r_xacro box_visual="${box_visual}"/>
    <xacro:arm_r_gazebo/>

    <xacro:arm_l_xacro box_visual="${box_visual}"/>
    <xacro:arm_l_gazebo/>

    <xacro:leg_r_xacro gazebo="${gazebo}" box_visual="${box_visual}"/>
    <xacro:leg_r_gazebo/>

    <xacro:leg_l_xacro gazebo="${gazebo}" box_visual="${box_visual}"/>
    <xacro:leg_l_gazebo/>

    <xacro:imu_n100mini parent="waist_link" name="imu" namespace="/kuroko/sensors/imu">
      <origin xyz="-0.04 0 -0.01" rpy="0 0 0"/>
    </xacro:imu_n100mini>

    <xacro:usb_camera parent="waist_link" name="camera" namespace="/kuroko/sensors/camera">
      <origin xyz="0.07 0 -0.026" rpy="0 0 0"/>
    </xacro:usb_camera>

    <xacro:tfluna parent="waist_link" name="tfluna" ros_topic="/kuroko/sensors/range">
      <origin xyz="0.07 0 -0.044" rpy="0 0 0"/>
    </xacro:tfluna>

    <xacro:enable_gz_rendering_plugin/>
    <xacro:enable_gz_imu_plugin/>

    <!-- ros2_control (Gazebo Classic): enabled only when gazebo:=true -->
    <!-- <xacro:gazebo_ros2_control_plugin controller_yaml="$(arg controller_yaml)"/> -->

  </xacro:macro>

  <!-- Instantiate -->
  <xacro:kuroko_model gazebo="$(arg gazebo)" box_visual="$(arg box_visual)"/>

</robot>
