<?xml version="1.0"?>
<robot name="kuroko" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="box_visual" default="false"/>
  <!-- Optional ros2_control controller parameters YAML for Gazebo Classic plugin -->
  <!-- <xacro:arg name="controller_yaml" default="$(find kuroko_description)/config/ros2_control/joint_trajectory_controller.yaml"/> -->
  <xacro:arg name="controller_yaml" default="$(find kuroko_description)/config/ros2_control/joint_trajectory_controller.yaml"/>
  <xacro:arg name="pid_yaml" default="$(find kuroko_description)/config/ros2_control/gazebo_pid_gains.yaml"/>

  <xacro:property name="XACRO_DIR" value="$(find kuroko_description)/xacro" />

  <xacro:unless value="$(arg gazebo)">
    <xacro:property name="MESH_DIR" value="package://kuroko_description/meshes" />
  </xacro:unless>
  <xacro:if value="$(arg gazebo)">
    <xacro:property name="MESH_DIR" value="$(find kuroko_description)/meshes" />
  </xacro:if>

  <xacro:include filename="${XACRO_DIR}/physics/materials.xacro"/>
  <xacro:include filename="${XACRO_DIR}/physics/box_physics.xacro"/>
  <xacro:include filename="${XACRO_DIR}/physics/gazebo_passive_joint.xacro"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/body.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/body.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/arm_r.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/arm_r.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/arm_l.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/arm_l.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/leg_r.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/leg_r.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/kuroko/parts/leg_l.xacro"/>
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/leg_l.gazebo"/>

  <xacro:include filename="${XACRO_DIR}/sensors/range/tfluna.xacro"/>
  <!-- <xacro:include filename="${XACRO_DIR}/sensors/imu/enable_gz_imu_plugin.xacro"/> -->
  <xacro:include filename="${XACRO_DIR}/sensors/imu/imu_n100mini.xacro"/>
  <xacro:include filename="${XACRO_DIR}/sensors/imu/imu_n100mini_gazebo.xacro"/>
  <!-- <xacro:include filename="${XACRO_DIR}/sensors/camera/enable_gz_rendering_plugin.xacro"/> -->
  <xacro:include filename="${XACRO_DIR}/sensors/camera/usb_camera.xacro"/>

  <!-- Gazebo Classic ros2_control helper -->
  <xacro:include filename="${XACRO_DIR}/kuroko/gazebo/kuroko_command_interface.gazebo"/>

  <!-- Main robot model macro -->
  <xacro:macro name="kuroko_model" params="gazebo box_visual">

    <link name="body_link"/>
    <joint name="root_joint" type="fixed">
      <parent link="body_link"/>
      <child link="waist_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <xacro:body_xacro box_visual="${box_visual}"/>
    <xacro:body_gazebo/>

    <xacro:arm_r_xacro box_visual="${box_visual}"/>
    <xacro:arm_r_gazebo/>

    <xacro:arm_l_xacro box_visual="${box_visual}"/>
    <xacro:arm_l_gazebo/>

    <xacro:leg_r_xacro gazebo="${gazebo}" box_visual="${box_visual}"/>
    <xacro:leg_r_gazebo/>

    <xacro:leg_l_xacro gazebo="${gazebo}" box_visual="${box_visual}"/>
    <xacro:leg_l_gazebo/>

    <xacro:imu_n100mini parent="waist_link" name="imu">
      <origin xyz="-0.04 0 -0.01" rpy="0 0 0"/>
    </xacro:imu_n100mini>
    <xacro:n100mini_gazebo name="imu" namespace="/kuroko/sensors/imu"/>


    <!-- <xacro:usb_camera parent="waist_link" name="camera" namespace="/kuroko/sensors/camera">
      <origin xyz="0.07 0 -0.026" rpy="0 0 0"/>
    </xacro:usb_camera> -->

    <!-- <xacro:tfluna parent="waist_link" name="tfluna" ros_topic="/kuroko/sensors/range">
      <origin xyz="0.07 0 -0.044" rpy="0 0 0"/>
    </xacro:tfluna> -->

    <!-- gz sensor/plugins -->
    <!-- <xacro:if value="${gazebo}">
      <xacro:enable_gz_rendering_plugin/>
      <xacro:enable_gz_imu_plugin/>
    </xacro:if> -->

    <!-- ros2_control block is always present so gazebo_ros2_control can parse robot_description.
         The Gazebo plugin itself is included only when gazebo:=true (spawned model). -->
    <xacro:kuroko_command_interface_position controller_yaml="$(arg controller_yaml)" pid_yaml="$(arg pid_yaml)"/>


  </xacro:macro>

  <!-- Instantiate -->
  <xacro:kuroko_model gazebo="$(arg gazebo)" box_visual="$(arg box_visual)"/>

</robot>